body{
    background: #121212;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

li{
    list-style: none;
}

.contenedor{
    display:flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #fff;
    border-radius: 5px;
    padding: 10px;
}

.columna{
    display: flex;
    flex-direction: column;
    padding:1em;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.menu li{
    list-style: none;
    margin: 0 10px;
}

.menu a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.menu a:hover{
    color: #31bd96;
    transition: 0.2s;
}

.boton{
    background: #31bd96;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top:.5em;
    font-size: 16px;
    cursor: pointer;
}

.boton:hover{
    background: #1d8f6e;
    transition: 0.2s;
}

.texto_simple{
    color: #fff;
    font-size: 20px;
    margin-bottom: 1em;
}

.ulsimple{
    margin:0;
    margin-block-start:0;
    padding-inline-start:0;
}

.fila{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
   gap:1em;
}